<script src="/Public/Front/js/jquery.min.js"></script>
<if condition="$sms_is_open">
<div class="form-group row" >
<label class="col-sm-1 col-form-label">手机验证码：</label>
<div class="col-sm-2">
<div class="input-group">
<input type="text" name="code"  autocomplete="off"  placeholder="请输入短信验证码"  class="form-control"  value="">
<div class="input-group-append">
<button href="javascript:;" id="sendBtn" data-bind='<{$fans['mobile']}>'  class="btn btn-danger waves-effect waves-light" data-mobile="<{$fans['mobile']}>" type="button"  data-toggle="tooltip" data-placement="top" title="" data-original-title="点击发送短信验证码"><i class="icon-call-end"></i> 发送验证码</button>
</div>  
</div></div></div>
</if>
<script>
$(function (){
        // 手机验证码发送
        $('#sendBtn').click(function(){
            var mobile = $(this).attr('data-mobile');
            var first_bind = $(this).data('bind');
            var sendUrl = "<{$sendUrl}>";
            if(!mobile){
                //判断用户是否准备绑定手机号
                if(!first_bind){
                    layer.alert('请先填写手机号码',{icon: 5}, function() {
                        location.href = "<{:U('Account/profile')}>";
                    });
                }else{
                    layer.alert('请先填写手机号码',{icon: 5});
                }
                return;
            }
            sendSms(this, mobile, sendUrl);
        });
    })
</script>