 <include file="Public/header"/>
  <include file="Public/top"/>
  <include file="Public/left-nav"/>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       文章列表管理
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">File Management Solution</a></li>
        <li class="breadcrumb-item active">List management</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
     
      <div class="row">		  
        <div class="col-lg-12 col-12">
			<!-- Basic Forms -->
			  <div class="box">
				<div class="box-header with-border">
				  <h4 class="box-title">栏目分类</h4>			
					<ul class="box-controls pull-right">
					  <li><a class="box-btn-close" href="#"></a></li>
					  <li><a class="box-btn-slide" href="#"></a></li>	
					<li><a class="box-btn-fullscreen" href="#"></a></li>
					</ul>
				</div>
				<!-- /.box-header -->
                <div class="box-body">
				  <div class="row">
					<div class="col-12">
                      
            <div class="ibox-content">
               <div class="box-controls pull-right" style="margin: 2px;">
<button type="button"  onclick="javascript:menu_add('添加栏目','<{:U('Content/addCategory')}>',350,320);" class="btn btn-primary btn-sm" style="margin: 2px;"><i class="mdi mdi-checkbox-marked-circle-outline"></i> 添加栏目分类</button>	</div>
                <div class="table-responsive">
                   <table class="layui-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th style="text-align: left;">栏目名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="category" id="vo">
                            <tr>
                                <td><{$vo.id}></td>
                                <td style="text-align: left;">├─ <{$vo.name}></td>
                                <td>
                                    <a class="layui-btn layui-btn-mini layui-btn-normal"
                                       onclick="menu_edit('编辑栏目','<{:U('Content/editCategory',['cid'=>$vo[id]])}>',350,320)"><i
                                            class="layui-icon">&#xe642;</i>编辑</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-mini"
                                       onclick="menu_del(this,'<{$vo[id]}>')"><i
                                            class="layui-icon">&#xe640;</i>删除</a>
                                </td>
                            </tr>
                            <if condition="$vo[_child]">
                                <volist name="vo[_child]" id="sub">
                                    <tr>
                                        <td><{$sub.id}></td>
                                        <td style="text-align: left;">└─ <{$sub.name}></td>
                                        <td>
                                            <a class="layui-btn layui-btn-mini layui-btn-normal"
                                               onclick="menu_edit('编辑栏目','<{:U('Content/editCategory',['cid'=>$sub[id]])}>',350,320)"><i
                                                    class="layui-icon">&#xe642;</i>编辑</a>
                                            <a class="layui-btn layui-btn-danger layui-btn-mini"
                                               onclick="menu_del(this,'<{$sub[id]}>')"><i
                                                    class="layui-icon">&#xe640;</i>删除</a>
                                        </td>
                                    </tr>
                                </volist>
                            </if>
                        </volist>
                        </tbody>
                    </table>
                </div>
                <div class="page"><{$page}></div>
            </div>
        </div></div>
    </div></div></div>
</div></div>
<include file="Public/footer"/>
<script>
    layui.use(['form','laydate','layer'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,laydate = layui.laydate;
    });
    //添加菜单
    function menu_add(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    //添加菜单
    function menu_edit(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    //添加菜单
    function menu_del(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    /*用户-删除*/
    function menu_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url:"<{:U('Content/delCategory')}>",
                type:'post',
                data:'id='+id,
                success:function(res){
                    if(res.status){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }
                }
            });
        });
    }
</script>
</body>
</html>