<script src="/Public/Front/js/jquery.min.js"></script>
<script src="/Public/Front/js/Util.js"></script>
<if condition="$sms_is_open">
<div class="input-group">
<div class="input-group-prepend">
<button href="javascript:;" type="button"  data-bind='<{$first_bind_mobile}>'   id="sendBtn" data-mobile="<{$mobile}>" class="btn btn-danger">发送验证码</button>
    <input type="text" name="code"  autocomplete="off"
							   placeholder="输入验证码" class="form-control" value="">
</div>
</div>
<p class="my-10"></p>
</if>
<script>
    $(function (){
        // 手机验证码发送
        $('#sendBtn').click(function(){
            var mobile = $(this).attr('data-mobile');
            var first_bind = $(this).data('bind');
            var sendUrl = "<{$sendUrl}>";
            if(!mobile){
                //判断用户是否准备绑定手机号
                if(!first_bind){
                    layer.alert('请先填写手机号码',{icon: 5}, function() {
                        location.href = "<{:U('System/mobile')}>";
                    });
                }else{
                    layer.alert('请先填写手机号码',{icon: 5});
                }
                return;
            }
            sendSms(this, mobile, sendUrl);
        });
    })
</script>