<include file="Public/header"/>
<div class="wrapper">
            <div class="container-fluid">

                <!-- Page title box -->
                <div class="page-title-alt-bg"></div>
                <div class="page-title-box">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Aggregate Payment</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">PASSWD</a></li>
                        <li class="breadcrumb-item active">management</li>
                    </ol>
                    <h4 class="page-title">密码管理</h4>
                </div>
                <!-- End page title box -->
					
					
           <div class="row">
                    <div class="col-12">
                        <div class="card-box">

                <!--用户信息-->
                <form class="layui-form" action="" autocomplete="off" id="profile">
                    <input type="hidden" name="id" value="<{$p.id}>">
                   <div class="form-group row">
                  <label class="col-sm-1 col-form-label">原登录密码：</label>
                      <div class="col-sm-2">
                            <input type="password" autocomplete="new-password" name="p[oldpwd]" lay-verify="required" autocomplete="off"  readonly onfocus="this.removeAttribute('readonly');" placeholder="输入原密码" class="form-control" value="">
                        </div>
                    </div>
                  <div class="form-group row">
                  <label class="col-sm-1 col-form-label">新登录密码：</label>
                       <div class="col-sm-2">
                            <input type="password" autocomplete="new-password" name="p[newpwd]" lay-verify="required" placeholder="输入新密码" readonly onfocus="this.removeAttribute('readonly');" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                  <label class="col-sm-1 col-form-label">重复新密码：</label>
                          <div class="col-sm-2">
                            <input type="password" autocomplete="new-password" name="p[secondpwd]" lay-verify="required"  placeholder="确认新密码" autocomplete="off"  readonly onfocus="this.removeAttribute('readonly');"  class="layui-input" value="">
                        </div>
                    </div>
 <if condition="$verifyGoogle and $verifysms">
                <div class="form-group row"  id="auth_type">
              <label class="col-sm-1 col-form-label">验证方式：</label>
                    <div class="col-sm-8">
                      <input type="radio" name="auth_type" lay-filter="auth_type" id="radio_22" value="1" title="谷歌安全码" checked>
                       <input type="radio" name="auth_type" lay-filter="auth_type" id="radio_21" value="0" title="短信验证码" checked>
                        
                       
                    </div>
                </div>
                
              <else />
                <input type="hidden" name="auth_type" value="<{$auth_type}>">
            </if>
  <eq name="verifysms" value="1">          
              <div class="form-group row"  id="auth_sms">
<label for="example-week-input" class="col-sm-1 col-form-label">短信验证码：</label>
                <div class="col-sm-2">
        <div class="input-group">
                  <input type="text" name="code"  autocomplete="off" placeholder="请输入短信验证码"  class="form-control" value="">
          <div class="input-group-append">
                                                <button href="javascript:;"   id="sendBtn" data-mobile="<{$fans['mobile']}>" data-bind="<{$fans['mobile']}>"  class="btn btn-danger waves-effect waves-light" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="点击发送短信验证码"><i class="icon-call-end"></i> 发送验证码</button>
                                            </div>
                </div>
				</div></div>
</eq>
            <eq name="verifyGoogle" value="1">
                    <div class="form-group row"  id="auth_google" <if condition="$verifyGoogle and $verifysms">style="display: none"</if>>
						  <label for="example-week-input" class="col-sm-1 col-form-label">谷歌安全码：</label>
                    <div class="col-sm-2">
                        <input type="text" name="google_code" autocomplete="off"
                               placeholder="请输入谷歌安全码" class="form-control"  value="">
                    </div>
                </div>
            </eq>
                       <div class="form-group row">
                       <label class="col-sm-1 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                   <div class="col-sm-2">
                            <button class="btn btn-primary" lay-submit="" lay-filter="profile" data-mobile=""><i class="icon-like"></i> 立即提交</button>
                        </div>
                    </div>
                </form>
                <!--用户信息-->
            </div>
        </div>
    </div>
</div>
 <include file="Public/footer"/>
<script>
    //短信验证是否开启
    var sms_is_open = "<{$sms_is_open}>";
    layui.use(['laydate', 'laypage', 'layer', 'form', 'element'], function() {
        var laydate = layui.laydate //日期
            ,layer = layui.layer //弹层
            ,form = layui.form //弹层
            , element = layui.element; //元素操作
        //日期
        laydate.render({
            elem: '#date'
        });
        //监听提交
        form.on('submit(profile)', function(data){
            $.ajax({
            url:"<{:U('Account/editPassword')}>",
            type:"post",
            data:$('#profile').serialize(),
            success:function(res){
                if(res.status){
                    layer.alert("密码修改成功", {icon: 6},function () {
                        parent.location.reload();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                }else{
                    layer.alert(res.msg ? res.msg :"操作失败", {icon: 5},function () {
                        parent.location.reload();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                }
            }
        });
            return false;
        });
       form.on('radio(auth_type)',function(data){
            if(data.value == 1) {
                $('#auth_google').show();
                $('#auth_sms').hide();
            } else {
                $('#auth_google').hide();
                $('#auth_sms').show();
            }
        });
    });
</script>
  <script>
    $(function (){
        // 手机验证码发送
        $('#sendBtn').click(function(){
            var mobile = $(this).attr('data-mobile');
            var first_bind = $(this).data('bind');
            var sendUrl = "<{$sendUrl}>";
            if(!mobile){
                //判断用户是否准备绑定手机号
                if(!first_bind){
                    layer.alert('请先填写手机号码',{icon: 5}, function() {
                        location.href = "<{:U('Account/profile')}>";
                    });
                }else{
                    layer.alert('请先填写手机号码',{icon: 5});
                }
                return;
            }
            sendSms(this, mobile, sendUrl);
        });
    })
</script>
</body>
</html>