<include file="Public/header"/>
<div class="wrapper">
            <div class="container-fluid">

                <!-- Page title box -->
                <div class="page-title-alt-bg"></div>
                <div class="page-title-box">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Aggregate Payment</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Business</a></li>
                        <li class="breadcrumb-item active">My Link</li>
                    </ol>
                    <h4 class="page-title">我的收银台</h4>
                </div>
                <!-- End page title box -->
 <div class="row">
                    <div class="col-12">
                        <div class="card-box">

          <!-- Page Header-->

  <legend>收款链接：</legend>

           <div class="layui-field-box">

                  <a href="<{$url}>" class="btn btn-primary w-md" target="_blank">点这里打开你的专属收银台！</a>
       
                    </div>
             
</div></div></div>
                      </div></div>
<include file="Public/footer"/>
</body>
</html>

