 <include file="Public/header"/>
  <include file="Public/top"/>
  <include file="Public/left-nav"/>
<!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       平台基本设置
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">System</a></li>
        <li class="breadcrumb-item active">System setting</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
     
      <div class="row">		  
        <div class="col-lg-12 col-12">
			<!-- Basic Forms -->
			  <div class="box">
				<div class="box-header with-border">
				  <h4 class="box-title">系统设置</h4>			
					<ul class="box-controls pull-right">
					  <li><a class="box-btn-close" href="#"></a></li>
					  <li><a class="box-btn-slide" href="#"></a></li>	
					  <li><a class="box-btn-fullscreen" href="#"></a></li>
					</ul>
				</div>
				<!-- /.box-header -->
      <form class="layui-form" action="" autocomplete="off" id="baseForm">
        <input type="hidden" name="id" id="id" value="<{$vo.id}>">
				<div class="box-body">
				  <div class="row">
					<div class="col-10">
						<div class="form-group row">
                          <label for="example-email-input" class="col-sm-2 col-form-label">平台名称：<span class="text-danger">*</span></label>
            <div class="col-sm-4">
							<input class="form-control"  type="text" name="config[websitename]" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\(\(\)\\//]/g,'')" onpaste="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\(\(\)\\//]/g,'')" oncontextmenu = "value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\(\(\)\\//]/g,'')" value="<{$vo.websitename}>" lay-verify="required" autocomplete="off" placeholder="聚合支付系统"  id="example-text-input">
						 <small>注意：为安全起见,请同步手动修改配置文件 <br>/Application/Common/Conf/website.php</small>
                          </div> 
						</div>
						<div class="form-group row">
						  <label for="example-search-input" class="col-sm-2 col-form-label">平台网址：<span class="text-danger">*</span></label>
	  <div class="col-sm-4">
							<input class="form-control"  type="text" name="config[domain]" onkeyup="value=value.replace(/[^\0-9\:\/\a-\z\A-\Z]/g,'')" onpaste="value=value.replace(/[^\0-9\:\/\a-\z\A-\Z]/g,'')" oncontextmenu = "value=value.replace(/[^\0-9\:\/\a-\z\A-\Z]/g,,'')" value="<{$vo.domain}>" lay-verify="required"   autocomplete="off"  placeholder="例如：www.hhjpay.com"  id="example-search-input"><small>无需输入HTTP://</small>
		<small>注意：为安全起见,请同步手动修改配置文件 <br>/Application/Common/Conf/website.php</small>
                          </div>
						</div>
						<div class="form-group row">
						  <label for="example-email-input" class="col-sm-2 col-form-label">联系邮箱：</label>
						  <div class="col-sm-4">
							<input class="form-control" type="email" name="config[email]" value="<{$vo.email}>"  lay-verify="email"
                               autocomplete="off" placeholder="例如：zhifu@qq.com" id="example-email-input">
						  </div>
						</div>
						<div class="form-group row">
						  <label for="example-url-input" class="col-sm-2 col-form-label">客服电话：</label>
						  <div class="col-sm-4">
							<input class="form-control"  type="text" name="config[tel]" value="<{$vo.tel}>"  onkeyup="value=value.replace(/[^0-9]/g,'')" onpaste="value=value.replace(/[^0-9]/g,'')" oncontextmenu = "value=value.replace(/[^0-9]/g,'')" v autocomplete="off" placeholder="例如：400 0000 000 " id="example-url-input">
						  </div>
						</div>
						<div class="form-group row">
						  <label for="example-tel-input" class="col-sm-2 col-form-label">客服QQ：</label>
						  <div class="col-sm-4">
							<input class="form-control"  type="text" name="config[qq]" value="<{$vo.qq}>" onkeyup="value=value.replace(/[^0-9]/g,'')" onpaste="value=value.replace(/[^0-9]/g,'')" oncontextmenu = "value=value.replace(/[^0-9]/g,'')"  autocomplete="off"  placeholder="例如：123456" id="example-tel-input">
						  </div>
						</div>
						<div class="form-group row">
						  <label for="example-password-input" class="col-sm-2 col-form-label">后台目录：</label>
						  <div class="col-sm-4">
                             <input type="text" name="config[directory]" readonly='readonly'  value="<{:C('HOUTAINAME')}>" onkeyup="value=value.replace(/[^\a-\z\A-\Z]/g,'')" onpaste="value=value.replace(/[^\a-\z\A-\Z]/g,'')" oncontextmenu = "value=value.replace(/[^\a-\z\A-\Z]/g,'')"  placeholder="默认为admin，留空为默认" autocomplete="off"  class="form-control">
                            <small>请手动修改配置文件/Application/Common/Conf/website.php第8行</small>
						  </div>
						</div>
						<div class="form-group row">
						  <label for="example-number-input" class="col-sm-2 col-form-label">前台目录：</label>
						  <div class="col-sm-4">
						<input type="text" name="config[login]" readonly='readonly' onkeyup="value=value.replace(/[^\a-\z\A-\Z]/g,'')" onpaste="value=value.replace(/[^\a-\z\A-\Z]/g,'')" oncontextmenu = "value=value.replace(/[^\a-\z\A-\Z]/g,'')" value="<{:C('LOGINNAME')}>" autocomplete="off"
                           class="form-control" placeholder="只能是英文字母">
                            <small>请手动修改配置文件/Application/Common/Conf/website.php第7行</small>
						  </div>
						</div>
						<div class="form-group row">
						  <label for="example-datetime-local-input" class="col-sm-2 col-form-label">平台备案号：</label>
						  <div class="col-sm-4">
							 <input type="text" name="config[icp]" value="<{$vo.icp}>"  onkeyup="value=value.replace(/[^\a-\z\A-\Z\0-9\u4E00-\u9FA5]/g,'')" onpaste="value=value.replace(/[^\a-\z\A-\Z\0-9\u4E00-\u9FA5]/g,'')" oncontextmenu = "value=value.replace(/[^\a-\z\A-\Z\0-9\u4E00-\u9FA5]/g,'')" autocomplete="off"
                           class="form-control" placeholder="网站备案号">
						  </div>
						</div>
						<div class="form-group row">
						  <label for="example-date-input" class="col-sm-2 col-form-label">公司名称：</label>
						  <div class="col-sm-4">
							<input type="text" name="config[company]" value="<{$vo.company}>" onkeyup="value=value.replace(/[^\a-\z\A-\Z\0-9\u4E00-\u9FA5]/g,'')" onpaste="value=value.replace(/[^\a-\z\A-\Z\0-9\u4E00-\u9FA5]/g,'')" oncontextmenu = "value=value.replace(/[^\a-\z\A-\Z\0-9\u4E00-\u9FA5]/g,'')"  autocomplete="off"
                           class="form-control" placeholder="公司名称">
						  </div>
						</div>
                      
					<div class="form-group row">
						  <label for="example-month-input" class="col-sm-2 col-form-label">平台logo：</label>
						  <div class="col-sm-8">
                            <button type="button" class="btn btn-primary btn-sm"  id="test1"><i class="fa fa-save"></i> 上传LOGO</button> 
                           <input type="hidden" name="config[logo]"  lay-filter="required"  id="wx_img" autocomplete="off"  value="<{$vo.logo}>">
  <span style="color: red;font-size: 12px;">*如果无法上传请开启上传组件</span> 
                         <p></p><img class="form-control" style="width: 40%" src="<{$vo.logo}>" id="demo1">
                        <p id="demoText"></p>
						  </div>
						</div>
                      
                      
						<div class="form-group row">
						  <label for="example-week-input" class="col-sm-2 col-form-label">商户代付功能：</label>
						  <div class="col-sm-10">
			
                            
                            <fieldset class="controls">
									<input name="config[payingservice]" type="radio"  id="radio_1"  title="开启" value="1"<if
                        condition="$vo['payingservice'] eq 1">checked
                </if>>

									<input name="config[payingservice]" type="radio" id="radio_2" title="关闭" value="0" <if
                        condition="$vo['payingservice'] eq 0">checked
                </if>>
							
								</fieldset>

                            
						  </div>
						</div>
                  
                    <div class="form-group row">
               <label class="col-sm-2 col-form-label">随机分配商户号：</label>
               <div class="col-sm-8">
                    <input type="radio" name="config[random_mchno]" value="1"  id="radio_15" title="开启" <if
                        condition="$vo['random_mchno'] eq 1">checked
                </if>>
                    <input type="radio" name="config[random_mchno]" value="0"  id="radio_16" title="关闭" <if
                        condition="$vo['random_mchno'] eq 0">checked
                </if>>
                </div>
            </div>
                  
                  		<div class="form-group row">
						  <label for="example-color-input" class="col-sm-2 col-form-label">注册需要邀请码：</label>
						  <div class="col-sm-10">
						<input type="radio" name="config[invitecode]" value="1"   id="radio_5"  title="需要" <if
                        condition="$vo['invitecode'] eq 1">checked
                </if>>
                    <input type="radio" name="config[invitecode]" value="0"   id="radio_6"  title="不需要" <if
                        condition="$vo['invitecode'] eq 0">checked
                </if>>
						  </div>
						</div>
                  
						<div class="form-group row">
						  <label for="example-time-input" class="col-sm-2 col-form-label">商户认证方式：</label>
						  <div class="col-sm-10">
                              <input type="radio" name="config[authorized]" value="0" title="自动认证"  id="radio_4"  <if
                        condition="$vo['authorized'] eq 0">checked
                </if>>
						 <input type="radio" name="config[authorized]" value="1" title="人工认证"  id="radio_3" <if
                        condition="$vo['authorized'] eq 1">checked
                </if>>
						  </div>
						</div>
                
				
        
        	 <div class="form-group row">
                <label class="col-sm-2 col-form-label">商户激活方式：</label>
                <div class="col-sm-8">
                   <input type="radio" name="config[register_need_activate]" value="0" id="radio_18" title="自动激活" <if
                        condition="$vo['register_need_activate'] eq 0">checked
                </if>>
               
                    <input type="radio" name="config[register_need_activate]" value="1" id="radio_17" title="人工审核" <if
                        condition="$vo['register_need_activate'] eq 1">checked
                </if>>
                   
                </div>
            </div>
        
        <div class="form-group row">
						  <label for="example-color-input" class="col-sm-2 col-form-label">后台商户提现通知：</label>
						  <div class="col-sm-10">
					 <input type="radio" name="config[withdraw]" value="1" id="radio_7" title="开启" <if
                        condition="$vo['withdraw'] eq 1">checked
                </if>>
                    <input type="radio" name="config[withdraw]" value="0"  id="radio_8" title="关闭" <if
                        condition="$vo['withdraw'] eq 0">checked
                </if>>
          <span style="color: red;font-size: 12px;">*提现通知只限于 后台首页提示 其他页面无提示</span>
						  </div>
						</div>
    
      <div class="form-group row">
						  <label for="example-color-input" class="col-sm-2 col-form-label">允许重复订单：</label>
						  <div class="col-sm-2">
					 <input type="radio" name="config[is_repeat_order]" value="1" id="radio_9" title="开启" <if
                        condition="$vo['is_repeat_order']  eq 1">checked
                </if>>
                    <input type="radio" name="config[is_repeat_order]" value="0"  id="radio_10" title="关闭" <if
                        condition="$vo['is_repeat_order']  eq 0">checked
                </if>>
						  </div>
						</div>

      <div class="form-group row">
                <label class="col-sm-2 col-form-label">IP登录白名单：</label>
               <div class="col-sm-4">
                    <textarea placeholder="" class="form-control" required name="config[login_ip]"><{$vo.login_ip}></textarea>
                    <span style="color: red;font-size: 12px;">*输入多个IP请换行，如果不输入默认所有IP可登录</span>
                </div>
            </div>
           
               <div class="form-group row">
                <label class="col-sm-2 col-form-label">网站统计代码：</label>
              <div class="col-sm-4">
                    <textarea placeholder="" class="form-control" name="config[tongji]"><{$vo.tongji}></textarea>
                        <span style="color: red;font-size: 12px;">*支持HTML代码</span>
                </div>
            </div>
              
               <div class="form-group row">
                <label class="col-sm-2 col-form-label">谷歌令牌验证：</label>
           <div class="col-sm-8">
                    <input type="radio" name="config[google_auth]" value="1"  id="radio_11" title="开启" <if
                        condition="$vo['google_auth'] eq 1">checked
                </if>>
                    <input type="radio" name="config[google_auth]" value="0"  id="radio_12"  title="关闭" <if
                        condition="$vo['google_auth'] eq 0">checked
                </if>>
                 <span style="color: red;font-size: 12px;">*测试期间请勿开启，否则将无法通过谷歌验证</span>
                </div>
            </div>
       
               <div class="form-group row">
             <label class="col-sm-2 col-form-label">代付API功能：</label>
             <div class="col-sm-8">
                    <input type="radio" name="config[df_api]" value="1"  id="radio_13" title="开启" <if
                        condition="$vo['df_api'] eq 1">checked
                </if>>
                    <input type="radio" name="config[df_api]" value="0"  id="radio_14" title="关闭" <if
                        condition="$vo['df_api'] eq 0">checked
                </if>>
                </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">允许管理员多处登录：</label>
                <div class="col-sm-8">
                   <input type="radio" name="config[admin_alone_login]" value="0" id="radio_20" title="允许" <if
                        condition="$vo['admin_alone_login'] eq 0">checked
                </if>>
                    <input type="radio" name="config[admin_alone_login]" value="1" id="radio_19" title="不允许" <if
                        condition="$vo['admin_alone_login'] eq 1">checked
                </if>>              
              <span style="color: red;font-size: 12px;">*选 “不允许 ” 将禁止管理员多处登录并强制下线</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">登录验证限制次数：</label>
                <div class="col-sm-2">
                    <input type="text" name="config[max_auth_error_times]" value="<{$vo.max_auth_error_times}>" placeholder="3" autocomplete="off" class="form-control" style="text-transform: capitalize;">
                    <span>错误最大次数，包括商户登录，后台管理员登录，短信验证码，支付密码，谷歌验证码</span>
                </div>
              
            </div>

          <div class="form-group row">
                <label class="col-sm-2 col-form-label">登录验证冻结时间：</label>
                 <div class="col-sm-2">
                    <input type="text" name="config[auth_error_ban_time]" value="<{$vo.auth_error_ban_time}>" placeholder="3" autocomplete="off" class="form-control" style="text-transform: capitalize;">
                   <span style="color: red;font-size: 12px;">单位：分钟错误超限，输入错误密码/验证码超限后，这个时间内系统拒绝验证</span>
                </div>
              
            </div>

            <if condition="$verifyGoogle and $verifysms">
                <div class="form-group row"  id="df_auto_check">
              <label class="col-sm-2 col-form-label">验证方式：</label>
                    <div class="col-sm-8">
                        <input type="radio" name="auth_type" lay-filter="auth_type" id="radio_21" value="1" title="谷歌安全码" checked>
                        <input type="radio" name="auth_type" lay-filter="auth_type" id="radio_22" value="0" title="短信验证码">
                    </div>
                </div>
                <else />
                <input type="hidden" name="auth_type" value="<{$auth_type}>">
            </if>
            <eq name="verifyGoogle" value="1">
                    <div class="form-group row"  id="auth_google">
						  <label for="example-week-input" class="col-sm-2 col-form-label">谷歌安全码：</label>
                    <div class="col-sm-2">
                        <input type="text" name="google_code" autocomplete="off"
                               placeholder="请输入谷歌安全码" class="form-control"   value="">
                    </div>
                </div>

            </eq>

            <eq name="verifysms" value="1">          
              	<div class="input-group row" id="auth_sms" <if condition="$verifyGoogle and $verifysms">style="display: none"</if>>
             <label for="example-week-input" class="col-sm-2 col-form-label">短信验证码：</label>
            <div class="input-group-prepend col-sm-3">
                  <input type="text" name="code"  autocomplete="off" placeholder="输入验证码" class="form-control" value="">
                <button href="javascript:;" type="button"  id="sendBtn" data-mobile="<{$mobile}>"   class="btn btn-xs btn-danger" title="点击获取短信验证码"><i class="glyphicon glyphicon-stats"></i> 获取短信验证码</button>
                </div>
				</div>
 <p class="my-20"></p> 
</eq>

				  <!-- /.row -->
<div class="form-group row">
<label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-2">
					<button type="button" class="btn btn-success btn-sm" lay-submit="" lay-filter="add"><i class="fa fa-check-square-o"></i> 提交保存</button>
                  <button type="reset" class="btn btn-secondary btn-sm"><i class="glyphicon glyphicon-remove"></i>  重置</button>
		</div>	
                  </div>
				</div>
				<!-- /.box-body -->    

</form>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


 <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
<!-- ./wrapper -->
<include file="Public/footer"/>
  <!-- /.content-wrapper -->

<script>
layui.use(['form', 'laydate','upload'], function(){
    var layer = layui.layer
        ,form = layui.form
        ,laydate = layui.laydate
     
        ,upload = layui.upload;
          
          //普通图片上传 
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '<{:U("System/uploadImg")}>'
            ,before: function(obj){
              //预读本地文件示例，不支持ie8
              obj.preview(function(index, file, result){
                $('#demo1').attr('src', result); //图片链接（base64）
              });
            }
            ,done: function(res){
              console.log(res);
              //如果上传失败
              $('#wx_img').val(res['data']);
              {
                        layer.alert("LOGO上传成功，无需提交及时生效", {icon: 6},function () {
                            location.reload();
                        });
                    }
              //上传成功
            }
            ,error: function(){
              //演示失败状态，并实现重传
              var demoText = $('#demoText');
              demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
              demoText.find('.demo-reload').on('click', function(){
                uploadInst.upload();
              });
            }
        });
  
   //监听禁止提交危险支付
function cleanSpelChar(th){     
	    if(/["'!#$%&*()<￥！@#￥%……&*（）>%;)(&+-]/.test(th.value)){           
	    $(th).val(th.value.replace(/["'!#$%&*()<￥！@#￥%……&*（）>%;)(&+-]/,""));     
	    } 
	}
function processSpelChar() {
    var code;
    var character;
    if (document.all) {
        code = window.event.keyCode;
    } else {
        code = arguments.callee.caller.arguments[0].which;
    }
    var character = String.fromCharCode(code);
    var txt = new RegExp(/["'!#$%&*()<￥！@#￥%……&*（）>%;)(&+-]/);
    if (txt.test(character)) {
        if (document.all) {
            window.event.returnValue = false;
        } else {
            arguments.callee.caller.arguments[0].preventDefault();
        }
    }
}
        //监听提交
        form.on('submit(add)', function(data){
            $.ajax({
                url:"<{:U('System/saveBase')}>",
                type:"post",
                data:$('#baseForm').serialize(),
                success:function(res){
                    if(res.status){
                        layer.alert("操作成功", {icon: 6},function () {
                            location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                    }else{
                        layer.msg(res.msg?res.msg:"数据无变动,操作失败!", {icon: 5},function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                        return false;
                    }
                }
            });
            return false;
        });
  form.on('radio(auth_type)',function(data){
            if(data.value == 1) {
                $('#auth_google').show();
                $('#auth_sms').hide();
            } else {
                $('#auth_google').hide();
                $('#auth_sms').show();
            }
        });
   
    });
$(function (){
    var sendUrl = "<{:U('System/sysconfigSend')}>";
    // 手机验证码发送
    $('#sendBtn').click(function(){
        var mobile = $(this).data('mobile');
        if(mobile == '') {
            layer.alert('请先绑定手机号码',{icon: 5}, function() {
                location.href = "<{:U('System/bindMobileShow')}>";
            });
            return;
        }
        sendSms(this, mobile, sendUrl);
    });
})
</script>
</body>
</html>