<include file="Public/header1"/>
<div class="box-body">
<div class="col-lg-6 col-12">
  
                <!--用户信息-->
                <form class="layui-form1" action="" autocomplete="off" id="editmobile">
                     <div class="form-group row">
                            <if condition="$editmobile">
                                <label for="example-email-input" class="col-sm-2 col-form-label">新手机号码：</label>
                                <div class="col-sm-12">
                                <input type="text" name="mobile"  lay-verify="phone" autocomplete="off"
                                       class="form-control" id="mobile" value="" >
                                </div>
                            <else/>
                               <label for="example-email-input" class="col-sm-2 col-form-label">原手机号码：</label>
                                <div class="col-sm-12">
                                <input type="text"  disabled lay-verify="phone" autocomplete="off"
                                       class="form-control" value="<{$mobile}>" >
                                </div>
                            </if>
                        </div>
                    

                    <include file="Public/send"/>
                     <div class="form-group row">
                        <div class="col-sm-12">
                            <button class="btn btn-success" lay-submit="" lay-filter="editmobile"><i class="fa fa-check-square-o"></i> 立即提交</button>
                            <button type="reset" class="btn btn-secondary"><i class="glyphicon glyphicon-remove"></i>  重置</button>
                        </div>
                    </div>
                </form>
                <!--用户信息-->
            </div>
        </div>
<include file="Public/foot"/>
<script>
    //短信验证是否开启
    var sms_is_open = "<{$sms_is_open}>";
    layui.use(['laydate', 'laypage', 'layer', 'form', 'element'], function() {
        var laydate = layui.laydate //日期
            ,layer = layui.layer //弹层
            ,form = layui.form //弹层
            , element = layui.element; //元素操作
        //日期
        laydate.render({
            elem: '#date'
        });

        $('#mobile').on('blur',function(){
            var mobile = $(this).val();
            $('#sendBtn').attr('data-mobile', mobile);
        });

        //监听提交
        form.on('submit(editmobile)', function(data){
            $.ajax({
            url:"<{:U('System/editMobileShow')}>",
            type:"post",
            data:$('#editmobile').serialize(),
            success:function(res){
                if(res['status'] && res['data'] == 'editNewMobile'){
                    layer.alert("提交成功", {icon: 6},function () {
                        parent.location.reload();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }); 
                }else if(res['status'] ){
                    layer.alert("下一步：填写新手机号码", {icon: 6},function () {
                        window.location.href = "<{:U('System/editMobileShow',['editnewmobile'=>1])}>";
                    });
                }else{
                    layer.alert(res.msg ? res.msg :"操作失败", {icon: 5},function () {
                        parent.location.reload();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                }
            }
        });
            return false;
        });
    });
</script>
</body>
</html>