 <include file="Public/header"/>
  <include file="Public/top"/>
  <include file="Public/left-nav"/>
<!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       密码管理
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">System setting</a></li>
        <li class="breadcrumb-item active">Change Password</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
     
      <div class="row">		  
        <div class="col-lg-12 col-12">
			<!-- Basic Forms -->
			  <div class="box">
				<div class="box-header with-border">
				  <h4 class="box-title">修改密码</h4><span style="color: red;font-size: 12px;">*修改密码后请退出重新登录生效。</span> 			
					<ul class="box-controls pull-right">
					
                      <li><a class="box-btn-fullscreen" href="#"></a></li>
					</ul>
				</div>
				<!-- /.box-header -->
<form class="layui-form" action="" autocomplete="off" id="editPassword">
  <input type="hidden" name="id" id="id" value="<{$vo.id}>">
				<div class="box-body">
				  <div class="row">
					<div class="col-10">
                      
						<div class="form-group  row">
                          <input style="display:none"><!-- for disable autocomplete on chrome -->
                         <label for="example-dianxi-input" class="col-sm-1 col-form-label">原密码：<span class="text-danger">*</span></label>
                          
            <div class="col-sm-2">	
			  <input type="password" name="ypassword" autocomplete="off" lay-verify="required" placeholder="请输入原始密码" class="form-control">
						</div> 
                          
						</div>
						<div class="form-group row">
						  <label for="example-search-input" class="col-sm-1 col-form-label">新密码：<span class="text-danger">*</span></label>
	  <div class="col-sm-2">
				 <input type="password" name="newpassword" autocomplete="off" lay-verify="required" placeholder="新密码" class="form-control">
		</div>
						</div>
						<div class="form-group row">
						  <label for="example-email-input" class="col-sm-1 col-form-label">重复新密码：</label>
						  <div class="col-sm-2">
						<input type="password" name="newpasswordok" lay-verify="required" placeholder="确认新密码"  autocomplete="off" class="form-control">
						  </div>
						</div>
				
              

          <if condition="$verifyGoogle and $verifysms">
				<div class="form-group row" id="df_auto_check">
					<label  class="col-sm-1 col-form-label">验证方式：<span class="text-danger">*</span></label>
					       <div class="col-sm-8">
						<input type="radio" name="auth_type" lay-filter="auth_type" value="1" title="谷歌安全码" checked>
						<input type="radio" name="auth_type" lay-filter="auth_type" value="0" title="短信验证码">
					</div>
				</div>
					<else />
					<input type="hidden" name="auth_type" value="<{$auth_type}>">
				</if>
              
				<eq name="verifyGoogle" value="1">
				<div class="form-group row" id="auth_google">
					<label for="example-password-input" class="col-sm-1 col-form-label">谷歌安全码：</label>
					<div class="col-sm-2">
						<input type="text" name="google_code" autocomplete="off"
							   placeholder="请输入谷歌安全码" class="form-control" value="">
					</div>
				</div>
				</eq>
              
					<eq name="verifysms" value="1">                    
              <div class="input-group row"  id="auth_sms" <if condition="$verifyGoogle and $verifysms">style="display: none"</if>>
                   <label class="col-sm-1 col-form-label">短信验证码：</label>
                <div class="input-group-prepend col-sm-3">
                     <input type="text" name="code"  autocomplete="off" placeholder="输入验证码" class="form-control" value="">
                <button href="javascript:;" type="button"  id="sendBtn" data-mobile="<{$mobile}>"   class="btn btn-xs btn-danger" title="点击获取短信验证码"><i class="glyphicon glyphicon-stats"></i> 获取短信验证码</button>
                </div>
				</div>
                 <p class="my-20"></p>
				</eq>
                  
                  <div class="form-group row">
                     <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-2">
						<button class="btn btn-success btn-sm" lay-submit="" lay-filter="add"><i class="fa fa-check-square-o"></i> 提交保存</button>
                  <button type="reset" class="btn btn-secondary btn-sm"><i class="glyphicon glyphicon-remove"></i>  重置</button>
					</div>	
                  </div>
				</div>
				<!-- /.box-body -->
</form>
                
 </div>
			  <!-- /.box -->			
		</div>		  


        <!--/.col (right) -->

      <!-- /.row -->
            </div>
    </section>
    <!-- /.content -->
  </div>  
  <!-- /.content-wrapper -->

 <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
<!-- ./wrapper -->
<include file="Public/footer"/>
  <!-- /.content-wrapper -->

<script>
layui.use(['layer', 'form'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,$ = layui.jquery;
			
  //监听提交
  form.on('submit(add)', function(data){
	$.ajax({
		url:"<{:U('System/editPassword')}>",
		type:"post",
		data:$('#editPassword').serialize(),
		success:function(res){
			if(res.status){
				layer.alert("提示：密码修改成功<br>修改密码后请退出重新登录生效。", {icon: 6},function () {
					parent.location.reload();
					var index = parent.layer.getFrameIndex(window.name);
					parent.layer.close(index);
				});
			}else{
				layer.msg(res.msg?res.msg:"操作失败!", {icon: 5},function () {
					var index = parent.layer.getFrameIndex(window.name);
					parent.layer.close(index);
				});
				return false;
			}
		}
	});
	return false;
  });
  form.on('radio(auth_type)',function(data){
        if(data.value == 1) {
            $('#auth_google').show();
            $('#auth_sms').hide();
        } else {
            $('#auth_google').hide();
            $('#auth_sms').show();
        }
    });
});
</script>
<script>
    $(function (){
        var sendUrl = "<{:U('System/editPasswordSend')}>";
        // 手机验证码发送
        $('#sendBtn').click(function(){
            var mobile = $(this).data('mobile');
            if(mobile == '') {
                layer.alert('请先绑定手机号码',{icon: 5}, function() {
                    location.href = "<{:U('System/bindMobileShow')}>";
                });
                return;
			}
            sendSms(this, mobile, sendUrl);
        });
    })
</script>
</body>
</html>