 <include file="Public/header"/>
  <include file="Public/top"/>
  <include file="Public/left-nav"/>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       短信模板管理
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">System setting</a></li>
        <li class="breadcrumb-item active">SMS function</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
     
      <div class="row">		  
        <div class="col-lg-12 col-12">
			<!-- Basic Forms -->
			  <div class="box">
				<div class="box-header with-border">
				  <h4 class="box-title">短信模板列表</h4>			
					<ul class="box-controls pull-right">
					  <li><a class="box-btn-close" href="#"></a></li>
					  <li><a class="box-btn-slide" href="#"></a></li>	
					  <h4 class="box-title"><a href="javascript:;" class="btn btn-info btn-xs"
                           onclick="smstemplate_add('添加短信模板','<{:U('System/addSmsTemplate')}>',540,460)"><span class="glyphicon glyphicon-plus"></span> 添加短信模板</a></h4>
					</ul>
				</div>
                <div class="box-body">
				  <div class="row">
					<div class="col-10">
                      <a href="javascript:;" id="checkAll" class="btn btn-danger btn-sm">全选</a>
                    <a href="javascript:;" id="submitAllCode" class="btn btn-primary btn-sm">批量修改模板代码</a></div></div></div>
				<!-- /.box-header -->
	<div class="col-12">
<table class="layui-table" lay-data="{width:'100%'}">
                    <thead>
                    <tr>
                        <th lay-data="{field:'check' , width:60}">选中</th>
                        <th lay-data="{field:'key', width:80}">#</th>
                        <th lay-data="{field:'title', width:200}">标题</th>
                      <th lay-data="{field:'call_index', width:200}">调用代码</th>
                        <th lay-data="{field:'template_code', width:200}">模板代码</th>
                        <th lay-data="{field:'template_content', width:650}">模板内容</th>
                        <th lay-data="{field:'op', width:100}">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="cache" id="v">
                        <tr>
                            <td><input type="checkbox"  title="" value="<{$v.id}>" class='checkIds' lay-skin="primary"></td>
                            <td><{$v.id}></td>
                            <td><{$v.title}></td>
                               <td>
                                <{$v.call_index}>
                            </td>
                            <td>
                                <{$v.template_code}>
                            </td>
                            <td>
                                <{$v.template_content}>
                            </td>

                            <td>

                                <a href="javascript:;"  onclick="smstemplate_edit('编辑短信模板','<{:U('System/editSmsTemplate',['id'=>$v[id]])}>',540,400)"
                                   class="btn btn-info btn-xs"><i class="mdi mdi-brush"></i>编辑</a>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <{$page}>
</div>	

         
			  <!-- /.box -->			
		</div>		  


        <!--/.col (right) -->

      <!-- /.row -->
            </div>
    </section>
    <!-- /.content -->
  </div>  
  <!-- /.content-wrapper -->
 <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
<!-- ./wrapper -->
<include file="Public/footer"/>
  <!-- /.content-wrapper -->
<script>
    layui.use(['laydate', 'laypage', 'layer', 'table', 'form'], function() {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , form = layui.form //表单
            , table = layui.table; //表格
    });

    /*短信模板-添加*/
    function smstemplate_add(title,url,w,h) {
        x_admin_show(title,url,w,h);
    }
    /*短信模板-编辑*/
    function smstemplate_edit(title,url,w,h) {
        x_admin_show(title,url,w,h);
    }
    /*短信模板-删除*/
    function smstemplate_del(obj,id) {
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url:"<{:U('System/deleteAdmin')}>",
                type:'post',
                data:'id='+id,
                success:function(res){
                    if(res.status){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }
                }
            });
        });
    }
    function smstemplate_show(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    $('#checkAll').on('click', function(){
        var child = $('table').next().find('tbody input[type="checkbox"]');  ;
        child.each(function(){
            $(this).attr('checked', true);
        });
        $('.layui-form-checkbox').addClass('layui-form-checked');

    });

    $('#submitAllCode').on('click', function(){
        var id = '';
        $('.checkIds').each(function(){
            var _this = $(this);
            if( _this.is(':checked')  ){
                id = id + _this.val() + ',';
            }
        });
        if(id){
            code_view('批量设置模板代码', "<{:U('Admin/System/smsTemplateCode')}>?ids="+id, 320 , 230);
        }else{
            layer.msg('请选择短信模板', {icon: 2, time: 1000},function () {});
        }
    });
    function code_view(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
</script>
</body>
</html>