<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><{$sitename}>支付业务合作协议</title>
</head>
<body>
<div class="agree" style="font-size:14px;padding-left:1em;">
    <p>
乙方名称：<{$siteconfig.company}>(以下称 “<{$sitename}>”) <br>平台地址：http://<{$siteconfig.domain}>
   <br>客服电话：<{$siteconfig.tel}><br>客服QQ：<{$siteconfig.qq}><br><br>
        甲、乙双方（以下称“双方”）本着自愿、平等、公平、互利的原则，经充分友好协商，就乙方为甲方提供支付服务所涉相关事宜，特达成如下协议，以资共同信守：<br>
    <h3>第一条 相关定义 <br>除上下文文义另有所指外，本合同中下列用语具有如下含义：</h3>
    1.1<{$sitename}>服务：乙方向甲方所提供的“<{$sitename}>”软件系统及其附随提供的款项收付服务。 <br>
    1.2<{$sitename}>账户：指甲方在使用本合同约定的“<{$sitename}>服务”时，乙方向其提供的唯一识别编号。甲方可为其设置密码，并具体使用“<{$sitename}>服务”开展交
    易，查询交易产生的款项收付账务明细。
    <br>1.3<{$sitename}>商家工具接口：指乙方开发的“<{$sitename}>”软件系统的软件接口，与甲方网站的软件系统对接后，即可通过甲方网站使用“<{$sitename}>服务”。乙方将依据甲方在确定本协议时所使用的<{$sitename}>账户与<{$sitename}>接口绑定；
    <br>1.4交易流量（交易额）：指由“<{$sitename}>”软件系统所统计的，甲方在本合同有效期内通过<{$sitename}>接口使用<{$sitename}>服务所完成的交易金额，是乙方根据本合同约定向甲方收取软件服务费用的依据。具体费用请参照
    附录一：费用详情
    <br>1.5甲方用户：在甲方网站或者手机APP应用上完成会员注册或者与甲方直接进行交易的用户。
    <h3>第二条 服务内容</h3>
    <br>2.1乙方向甲方提供以下服务：
    <br>2.1.1安全加密 为甲方使用乙方的服务提供高质量的128位网络传输加密通道，并为甲方提供信息传输的接口规范、配置安全传输协议、后台管理权限设定等服务。
    <br>2.1.2<{$sitename}>服务 向甲方提供“<{$sitename}>”软件系统，以及甲方与甲方用户间等各种形式的货款收付服务。 向甲方提供<{$sitename}>账户，用于甲方即时在线查询使用“<{$sitename}>服务”过程中甲方的款项收付账务明细。
    <br>2.1.3提供在线查询系统 为甲方设立网上交易信息查询功能及<{$sitename}>账户信息管理和交易查询服务系统，可用于甲方每天二十四小时即时在线查询。该查询系统列明相关交易的时间、金额等。
    <h3>第三条 权利义务</h3>
    <br>3.1甲方的权利与义务
    <br>3.1.1甲方需向乙方提交乙方要求的相关身份资料，并在该等资料发生变更后三个工作日内书面通知乙方。甲方应承担因上述资料不准确、不真实、不及时和不完整而产生的一切责任（包括但不限于发票误寄、不能联系导致的业务不能开展、乙方不能识别甲方新的身份发送的指令从而不执行甲方指令）。
    <br>3.1.2甲方独立承担因其网站的交易信息违法、虚假、陈旧或不详实造成的投诉、退货、纠纷、处罚等责任，因此造成乙方损失的，甲方应予赔偿。甲方应确保其网站所涉商号、域名、计算机程序、版权设计及内容等不侵犯或涉嫌侵犯包含乙方在内的他人合法权益，包括但不限于他人的商标权、企业名称权、著作权、专利权和商业秘密等，且不进行任何形式的不正当竞争。甲方理解并同意，如乙方收到他人投诉或有权机关的通知，乙方有权对甲方使用<{$sitename}>服务采取限制措施，直至单方解除本合同，终止向甲方提供<{$sitename}>服务。
    <br>3.1.3甲方应在其网站页面上如实描述“<{$sitename}>”软件系统及“<{$sitename}>服务”的内容，并通过甲方网站引导甲方用户进入“<{$sitename}>”软件系统提交服务申请，不得以甲方名义为他人获取乙方服务或者使用乙方提供的支付接口为其他网站或企业提供有偿或无偿的商业性服务。甲方承诺，不在未经乙方认可的第三方网站上使用乙方的接口，不将乙方提供的接口技术、安全协议及证书等以任何方式提供给第三方使用，不使用乙方提供的接口为第三方提供商业服务，但乙方认可的甲方或甲方母公司控股的机构、甲方关联企业除外。
    <br>3.1.4甲方应妥善保管乙方提供的<{$sitename}>账户、密码，甲方的<{$sitename}>账户、密码是乙方识别甲方身份及指令的唯一标志，所有使用甲方<{$sitename}>账户、密码的操作即为甲方的（授权）操作行为，因甲方<{$sitename}>账户、密码遗失、泄露、被窃所导致的损失由甲方独自承担。任何使用甲方的<{$sitename}>账户、密码发送至“<{$sitename}>”软件系统的支付指令构成甲方不可撤销的授权付款指示，乙方对于依照该指示进行支付的行为及其结果不承担任何责任。
    <br>3.1.5甲方同意乙方在必要时有权将其相关交易信息提供给乙方的合作银行、政府监管部门进行核查，但乙方应告知甲方获得该等信息的银行和政府监管部门的名称及披露的交易信息内容。
    3.1.6甲方需根据乙方提供的“<{$sitename}>”软件系统，制定出可与“<{$sitename}>”软件系统有效对接，识别来自“<{$sitename}>”软件系统各种交易付款状态信息的软件程序，以确保完成整个交易流程，该等软件程序包括但不限于订单处理、确认收货或提供服务的程序。
    <br>3.1.7甲方理解并同意在其网站（含网站系统）存在不安全因素可能影响到乙方或乙方会员利益的情况下，乙方有权要求甲方立即消除不安全因素。若在得到乙方通知后的合理时间内甲方仍不消除该不安全因素，则乙方有权单方面解除本合同并不承担其他任何赔偿及法律责任。
    <br>3.1.8甲方应保证使用<{$sitename}>服务时，不得从事危害乙方或乙方会员权益的行为。同时甲方在未得到乙方授权的情况下，不得以乙方的名义向其用户收取乙方向其收取的费用或以其他形式将此部分的费用转嫁给其用户。
    3.1.9甲方不得利用或涉嫌利用<{$sitename}>账户从事洗钱或其他非法活动（包括境内外的一切非法活动），否则一切后果由甲方承担。
    <br>3.2乙方的权利与义务
    <br>3.2.1乙方负责<{$sitename}>软件系统的建设、运行和管理，保证按照乙方网站所公布的《<{$sitename}>服务协议》向甲方提供第二条所述的各项服务。
    <br>3.2.2乙方负责受理涉及“<{$sitename}>”软件系统本身问题的投诉并处理因此产生的纠纷。乙方有权按照包括但不限于公安机关、检察机关、法院、海关、税务机关等司法机关、行政机关、军事机关的要求对您在<{$sitename}>的资金及账户等进行查询、冻结或扣划。
    <br>3.2.3甲方告知乙方其甲方<{$sitename}>账户、密码被泄漏或被未经授权的人使用后，乙方应立即采取合理的措施（包括但不限于临时冻结甲方<{$sitename}>账户及账户内资金、交易），避免损失的扩大，因乙方提供保护措施不及时、不到位导致甲方损失扩大的，应就该扩大部分向甲方承担赔偿责任。
    <br>3.2.4乙方设立业务咨询和联系电话，负责解答甲方在使用“<{$sitename}>服务”过程中遇到的各种疑问，并及时解决双方在数据对账、资金流转过程中的有关问题。
    <h3>第四条 费用、结算、退款</h3>
    <br>4.1甲方按照本协议 附录一 所列费用向乙方支付服务费。甲方使用乙方支付服务，收款达到双方约定结算时间后，乙方扣除相关费用后，按照
    附录一 中约定时间向银行发送转账要求，按照约定币种结算给甲方。因银行方面原因致使提现延误的，乙方不承担责任。乙方通过电汇方式结算给甲方，甲方承担收款银行以及电汇中转行的相关费用。
    <br>4.2因甲方原因需向甲方用户退款时，由乙方按照甲方指令将相关交易款项从甲方的<{$sitename}>账户中扣减，被冻结款项除外（指甲方<{$sitename}>账户存在风险或其他特殊状况时，乙方根据甲方的要求进行的冻结；乙方根据生效法律文书，协助有权国家机关进行的冻结；甲方使用“<{$sitename}>账户”的行为违反《<{$sitename}>服务协议》的约定，乙方依照《<{$sitename}>服务协议》进行的冻结），若甲方<{$sitename}>账户的可用余额不足以支付退款的，应及时补足。乙方从甲方<{$sitename}>账户中扣减退款并收取相关费用。
    <br>4.3若甲方指定的软件服务费扣费账户不同于双方的签约<{$sitename}>账户时，甲方须保证在其指定的扣费账户中保留足以支付乙方应收服务费的可用余额，若余额不足且在得到乙方通知后的合理时间内仍未补足的，则乙方有权暂停向甲方提供<{$sitename}>服务、冻结甲方<{$sitename}>账户中的交易款项或直接自甲方交易款项中扣取。
    <br>4.4
    甲方擅自使用乙方支付通道用于违法违规行业的交易，一经乙方发现，乙方有权利单方面终止为甲方提供支付服务，并将冻结其账户内资金180天，180天后甲方才可以提现；如果由于甲方行为为乙方带来直接资金损失或者导致乙方通道问题的，甲方应承担相应的赔偿责任；
    <br>4.5甲方主动停用乙方账户时，应至少提前一周告知乙方。甲方主动停止业务合作或者乙方判断甲方账户已经停止业务的情况下，甲方账户余额自申请提现60个自然日后结算，若结算当天是节假日则顺延至下一个工作日；如果账户总余额小于35美金，则不支持提现。
    <h3>第五条 保密条款</h3>
    <br>5.1除适用之法律法规另有规定外，甲乙双方对于本合同内容及因履行本合同而获知的另一方的商业和技术秘密负有保密义务，任何一方不得将本合同内容及已获知的另一方的商业和技术秘密泄露或以其他任何变相形式告知任何非本合同当事人（包括双方没有必要授权的任何雇员），或用于除本合同履行之外的其他目的。
    <br>5.2双方均应采取一切合理、必要的步骤，保证各自（及其雇员）遵守上述约定。双方应采取合理的预防措施以保护保密信息，此种预防措施应至少与双方对自己的保密信息所采取的措施一样重大，但不应少于合理的关注。
    <br>5.3未经一方书面同意，另一方不得以召开新闻记者会或其他任何方式披露关于双方正在合作及洽谈的内容。
    <h3>第六条 合同终止</h3>
    <br>6.1发生下列情形的，守约方有权立即终止本合同。
    <br>6.1.1一方违反本合同约定，未履行相关义务，经另一方书面通知后30天内仍未改正的。
    <br>6.1.2一方严重违反本合同约定导致本合同目的不能实现的；
    <br>6.2本合同期限届满。
    <h3>第七条 不可抗力以及免责条款 </h3>
    <br>7.1不可抗力指双方在订立协议时不能预见、对其发生和后果不能避免且不能克服的事件。若由于不可抗力致使一方未能全部或部分履行本协议不构成违约，本协议内受影响之条款可在不能履行之期间及受影响之范围内中止履行。
    <br>7.2鉴于电子商务所具有之特殊性质，乙方对黑客攻击、网络病毒、银行掉单、电信部门技术调整及线路故障、银行政策调整导致之影响、因政府管制而造成的暂时性关闭、电力系统故障或限制性供电等在内的任何影响网络正常经营之情形不承担责任。
    <br>7.3因不可抗力或者其他意外事件，使得本协议的履行不可能、不必要或者无意义的，双方可以协商解除本协议。
    <h3>第八条 争议解决 </h3>
    <br>8.1本合同的效力、解释、变更、执行及争议的解决等均适用中华人民共和国法律，没有相关法律规定的，参照通用的国际商业惯例和（或）行业惯例。
    <br>8.2因本合同产生的任何争议，双方应协商解决，协商不成的，应提交乙方所在地有管辖权的人民法院裁决。
    <br>8.3乙方只为甲方与客户之间提供支付中介服务，不介入甲方和客户之间因网上交易可能发生的任何纠纷。
    <h3>第九条 违约责任 </h3>
    <br>9.1除本合同另有约定外，任一方违反本合同约定的，应赔偿因此给另一方造成的直接损失。
    <br>9.2 除前款约定外，任一方均不应对对方因财产损失、人身伤害、利润损失、收入损失、营业中断等直接的、间接的、特殊的或偶然性损失负责。
    <h3>第十条 其它 </h3>
    <br>10.1甲方承诺，其向乙方提交的行业背景、经营内容及<{$sitename}>服务应用场景等信息均真实有效，甲方违反本款承诺导致的一切法律责任均由甲方独自承担并应赔偿由此给乙方造成的损失，乙方并有权据此终止向甲方提供本协议约定之服务。
    <br>10.2未经另一方书面同意，本协议任何一方均不得转让或者让与本协议项下的任何权利和义务，但为履行本协议需要，乙方有权不经甲方同意而将本协议项下的权利和义务一并转让具备合法履约能力（包括但不限于经营“<{$sitename}>”业务）的第三方，但乙方对受让人的履约行为承担连带责任。
    <br>10.3本合同取代双方在此之前达成的任何谅解和协议。只有以书面文件形式并经双方各自授权代表签署，方可对本合同进行任何修改或变更。
    10.4如果本合同的任何条款被法院、仲裁机构或其他争议解决机构宣布为无效或无法执行，则该条款应被视为从本合同中删除，而本合同的其他条款应仍然完全有效。
    <br>10.5双方签订本框架合同或其他在线合同后，甲方因内部管理等原因需要签订纸质合同进行确认或存档的，双方可再行签订纸质合同，但不能因此视为双方存在两个合同关系，纸质合同的内容必须与在线签署的合同内容一致，合同的生效与履行依照在线签署的合同约定执行，在线签署的合同内容与纸质合同的约定不一致的，以前者的约定为准。
    <br>10.6本协议条款系双方经充分协商一致后达成的真实意思表示，本协议在履行过程中如有未尽事宜，或因业务发展需要对本协议现有内容进行补充、变更时，任一方可提出补充、变更的建议和方案，经双方协商并达成统一意见后，以书面形式表达，经双方同意并签字盖章后，成为本协议的有效补充，补充协议与本协议不同的，以补充协议为准。
    <br>10.7若相关规定发生的变动涉及双方合作内容的，乙方有义务配合甲方予以相应变更。
    <br>10.8任何一方未行使或延迟行使其在本协议项下的某项权利时，不构成该方对此项权利的放弃，如果该方已经行使或者部分行使某项权利时，并不妨碍在将来再次行使此项权利。
    <br>10.9<{$sitename}>服务使用者称“甲方”，本合同中<{$sitename}>称“乙方”。本合同自乙方实际为甲方开通本合同约定服务之日起生效，有效期两年。合同期满后，若合同无其他变更事项，则默认为双方自动续约一年。本协议于双方签署后生效，本协议一式贰份，甲、乙双方各执壹份。
    <br>商户在线业务合规申明
    <br>一、商户不得使用<{$sitename}>的任何服务用于以下行业和产品： <br>1.军队，武器和雇佣兵类服务； <br>2.色情类，毒品及设备； <br>3.赌博以及彩票业务； <br>4.假货，侵权产品； <br>5.处方药品及服务；
    <br>6.未授权产品，盗版光碟；
    <br>7.烟草及酒精饮料； <br>8.投资类，金融服务类以及信用卡类服务； <br>9.虚拟货币交易，如Bitcoin交易； <br>10.其他非法及不道德产品和服务。 <br>二、商户网站及<{$sitename}>账户所有权：
    1.如果商户网站域名或主营业务发生变化，请于变更前5个工作日内邮件或者电话通知我们，否则可能影响您的支付通道正常使用；
    <br>未经<{$sitename}>允许，不得擅自向任何第三方转让<{$sitename}>账户或者提供支付通道，否则<{$sitename}>将追究相关法律责任。
    </p>
</div>
</body>

</html>