<include file="Public/header"/>
<div class="wrapper">
            <div class="container-fluid">

                <!-- Page title box -->
                <div class="page-title-alt-bg"></div>
                <div class="page-title-box">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Aggregate Payment</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Channel</a></li>
                        <li class="breadcrumb-item active">Rate</li>
                    </ol>
                    <h4 class="page-title">查看通道费率</h4>
                </div>
                <!-- End page title box -->
 <div class="row">
                    <div class="col-12">
                        <div class="card-box">
					<if condition="$fans['status'] ==1">
					
					
       
                <table class="layui-table">
                    <thead>
                    <tr>
                          <th style="width:100px;">通道编码</th>
                        <th>通道名称</th>
                          <th>通道费率</th>
                       <th>结算方式</th>
                        <th>通道状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="p">
                        <tr>
                            <td><{$p.id}></td>
                            <td><{$p.name}></td>
                            <td><{$p[t0feilv]*1000}>‰</td>
                               <td><if condition="$tkconfig[t1zt] eq 0">T+0<elseif condition="$tkconfig[t1zt] eq 1"/>T+1</if></td>
                            <td><if condition="$p['status'] eq 1">开启</if></td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                      <else/><div class="text-center"> <i class="icon-user-unfollow text-primary"></i>  商户未激活 无权限查看通道费率！</div></if>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>
</body>
</html>