<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><{$sitename}> - 做最好的支付服务商</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=11 chrome=1">
    <meta name="keywords" content="<{$sitename}>,聚合支付,第三方支付,第三方支付平台,第三方支付公司,第三方支付接口,垫资支付,余额支付,跨境支付">
    <meta name="description" content="<{$sitename}>是提供互联网支付和跨境人民币支付服务，利用信息化平台为客户打造专业、高效、安全的现金流管理解决方案。">
    <meta property="og:image" content="./images/index/sm-logo.png"/>
    <meta name="baidu-site-verification" content="kWXmf1a6xH" />
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" media="screen" />
    <link href="/Public/theme/view10/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Public/theme/view10/static/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="/Public/theme/view10/static/css/rewritemodal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Public/theme/view10/static/css/normalize.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Public/theme/view10/static/css/common.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Public/theme/view10/static/css/procommon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Public/theme/view10/static/css/index.css" rel="stylesheet" type="text/css" media="all" />
    
</head>
<body>
<header class="index-header">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <header class="index-header-box header">
            <div class="container">
                <div class="header-icon col-lg-2 col-md-3">
                    <a href="/"><img src="<{$logo}>" /></a>
                </div>
                <nav class="header-nav col-lg-7 col-md-6">
                    <ul class="nav-ul">
                        <li class="nav-li"><a class="nav-active-a" href="/">首页</a></li>
                        <li class="nav-li">
                            <a href="<{$agent_login}>">代理商登录</a>
                        </li>
                        <!--li class="nav-li nav-open-platform"><a href="/Home_Index_document.html">开发中心</a></li-->
                        <li class="nav-li">
                            <a href="/demo">DEMO</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-btn-groups col-lg-3 col-md-3">
                    <a href="<{$user_login}>"><button class="nav-btn">商户登录</button></a>
                    <span class="nav-btn-line"> | </span>
                    <a href="<{$register}>"><button class="nav-btn">注册</button></a>
                </div>
            </div>
        </header>
        <header class="header-sm">
            <div class="header-sm-icon col-sm-8 col-xs-8">
                <a href="/"><img src="<{$logo}>" /></a>
            </div>
            <nav class="header-sm-nav col-sm-4 col-xs-4">
                <ul class="nav-sm-ul">
                    <li class="nav-sm-li">
                        <span><img src="/Public/theme/view10/static/picture/smnav.png" class="nav-sm-btn" /></span>
                    </li>
                </ul>
            </nav>
            <div class="nav-sm-list nav-sm-list-off">
                <span><span><a href="/">首页</a></span></span>
                
                <span><span><a href="<{$user_login}>">商户登录</a></span></span>
                <span><span><a href="<{$agent_login}>">代理商登录</a></span></span>
                <span><span><a href="/demo">DEMO</a></span></span>
               
            </div>
        </header>
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li class="index-slide-li active" data-target="#myCarousel" data-slide-to="0"></li>
            <li class="index-slide-li" data-target="#myCarousel" data-slide-to="1"></li>
            <li class="index-slide-li" data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="index-banner-item item active">
               
                    <img class="index-banner-1 index-banner-img" src="/Public/theme/view10/static/picture/banner1.jpg" />
               
            </div>
            <div class="index-banner-item item">
              
                    <img class="index-banner-2 index-banner-img" src="/Public/theme/view10/static/picture/banner2.jpg" />
                
            </div>
            <div class="index-banner-item item">
               
                    <img class="index-banner-3 index-banner-img" src="/Public/theme/view10/static/picture/banner3.jpg" />
               
            </div>
        </div>
        <div class="sm-banner-title">
            <img src="/Public/theme/view10/static/picture/sm-banner-title.png" />
        </div>
        <!-- 左侧标签栏 -->
        <div class="banner-aside">
            <!-- <div class="banner-icon-box banner-icon-box1">
                <div class="banner-icon">
                    <a href="javascript:;">
                        <img src="/Public/theme/view10/static/picture/客服-3.png" />
                    </a>
                </div>
            </div>
            <div class="banner-icon-box">
                <div class="banner-icon banner-icon2">
                    <img src="/Public/theme/view10/static/picture/电话.png" />
                </div>
                <div class="banner-icon-msg msg-tel">电话客服 400-830-1015 转 "0"</div>
            </div>
            <div class="banner-icon-box">
                <div class="banner-icon banner-icon-email-box banner-icon3">
                    <img src="/Public/theme/view10/static/picture/邮箱 邮件.png" />
                </div>
                <div class="banner-icon-msg msg-mail">客服邮箱：help@joinpay.com</div>
            </div> -->
          
            <div class="banner-icon-box">
                <div class="banner-icon banner-icon-back-top" onclick="backTop()">
                    <img src="/Public/theme/view10/static/picture/返回顶部.jpg" />
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Button trigger modal -->
<!--    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"  data-target="#myModal">
        Launch demo modal
    </button>-->

<!-- Modal -->
<!-- FIXME: col-xs-10 col-xs-offset-1 -->
<div class="notice-model" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
    <div class="notice-modal-dialog" role="document">
        <div class="notice-modal-content">
            <div class="notice-modal-header">
                <h4 class="notice-modal-title" id="myModalLabel"><{$sitename}>公告</h4>
            </div>
            <div class="notice-modal-body" id="panelBody" v-html="">
                welcome
            </div>
            <div class="notice-modal-tip" >
                <p id="modal-tip" ><img src="/Public/theme/view10/static/picture/gantanhao.png" style="margin-bottom: 2px" width="16px" height="16px">请滑动到底部确认</p>
            </div>
            <div class="notice-modal-footer">
                <button type="button" class="notice-button btn btn-default" disabled="disabled" data-dismiss="modal" id="modal-btn">我已阅读并确认</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section class="section1 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <span class="section-title">业务范围</span>
        <p class="section-text col-lg-12 col-md-12"><{$sitename}>积极布局电商、酒店、共享经济、智慧零售、在线教育、国际贸易等行业。针对中小型企业面临的数字化转型、系统化运营等需求，<{$sitename}>以“技术”为核心，以“风控、服务、智库、产品”为驱动，形成四轮同向发力，将科技创新“触角”伸向各个行业，为企业客户打造专业、高效、安全的行业解决方案，助力企业在业务运营中有效优化信息流和资金流效率，提升客户行业竞争力。</p>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          
                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 section1-card section1-card-left">
                    <div class="section1-img-box">
                        <img class="section1-img" src="/Public/theme/view10/static/picture/indexbigcard1.png" />
                    </div>
                    <span class="section1-card-text">互联网支付</span>
                </div>
       
           
                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 section1-card section1-card-right">
                    <div class="section1-img-box">
                        <img class="section1-img" src="/Public/theme/view10/static/picture/indexbigcard2.png" />
                    </div>
                    <span class="section1-card-text">跨境人民币支付</span>
                </div>
           
        </div>
    </section>
    <section class="section2 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <span class="section-title index-section-title">核心优势</span>
        <div class="card index-card col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card-img-box">
                <img class="card-img" src="/Public/theme/view10/static/picture/indexcard1.png"/>
            </div>
            <span class="card-title">质量监控</span>
            <p class="card-content">专业运营后台<br />
                应急咨询及问题处理</p>
        </div>
        <div class="card index-card col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card-img-box">
                <img class="card-img" src="/Public/theme/view10/static/picture/indexcard2.png"/>
            </div>
            <span class="card-title">贴心客服</span>
            <p class="card-content">实时为您解决问题<br/>
                VIP服务全年无休<br/>
        </div>
        <div class="card index-card col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card-img-box">
                <img class="card-img" src="/Public/theme/view10/static/picture/indexcard3.png"/>
            </div>
            <span class="card-title">技术支持</span>
            <p class="card-content">
<!--                技术支持<br/>-->
                专业的综合服务团队<br/>
                实时维护解决问题<br/>
        </div>
        <div class="card index-card col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card-img-box">
                <img class="card-img" src="/Public/theme/view10/static/picture/indexcard4.png"/>
            </div>
            <span class="card-title">强大的商户后台</span>
            <p class="card-content">实时交易明细查询<br/>
                实时账务变动查询<br/>
        </div>
        <div class="card index-card col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card-img-box">
                <img class="card-img" src="/Public/theme/view10/static/picture/indexcard5.png"/>
            </div>
            <span class="card-title">快速接入方式</span>
            <p class="card-content">接口简单、安全<br/>
                专人协助快速接入<br/>
        </div>
        <div class="card index-card col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card-img-box">
                <img class="card-img" src="/Public/theme/view10/static/picture/indexcard6.png"/>
            </div>
            <span class="card-title">全方位安全保护</span>
            <p class="card-content">交易数据全加密<br/>
                专业的风控团队<br/>
        </div>
    </section>
</div>
<section class="section3">
    <div class="container">
        <div class="section3-content col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
            <span class="section3-text"><{$sitename}>资质</span>
           <span class="section3-todetail">了解<{$sitename}>资质详情<img class="index-small-arrow" src="/Public/theme/view10/static/picture/small-arrow.png" /></span>
        </div>
    </div>
</section>
<div class="container">
    <section class="section4 col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <div class="index-news-img-box col-lg-6 col-md-6 col-md-offset-0 col-sm-8 col-xs-8 col-sm-offset-2 col-xs-offset-2">
            <a class="index-img-a" href="javascript:;"><img src="/Public/theme/view10/static/images/Ch4emWHL34CAS-ZpAACzEKDx6Ks555.jpg" class="index-news-img"/></a>
        </div>
        <div class="index-news col-lg-6 col-md-6 col-sm-8 col-xs-8 col-md-offset-0 col-sm-offset-2 col-xs-offset-2">
            <div class="index-news-text"><h4><{$sitename}>打击治理电信网络新型违法犯罪</h4></div></br>
            <ul class="index-news-list">我国电信网络诈骗不仅数量惊人，而且花样层出不穷。电信网络诈骗成为监管层、执法机构重点关照对象，也是构建网络诚信的重要一环。作为网络交易的重要参与方，支付企业在其中显得尤为重要，其在网络环境中承担着大动脉的角色，负责资金运转。因此，支付企业的风险把控能力对于构建安全的网络环境、保障用户权益显得极其关键，<{$sitename}>也一直推进打击治理电信网络新型违法犯罪工作，坚决遏制此类犯罪行为。</ul>
        </div>
    </section>
</div>
<section class="section5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container">
        <div class="section5-partner-box col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
            <span class="section-title">部分合作机构</span>
            <img class="partner-img partner-bank" src="/Public/theme/view10/static/picture/bank.png" />
            <span class="section-title">部分合作品牌</span>
            <img class="partner-img partner-brand" src="/Public/theme/view10/static/picture/partner-new.png" />
        </div>
    </div>
</section>
<footer class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container">
        <div class="footer-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="footer-ul col-xs-12 col-sm-7 col-md-7">
                <li>
                    <span class="footer-li-title footer-li-content">关于我们</span>
                    <span class="footer-li-content">聚合支付 / PayHelper</span>
                    <span class="footer-li-content">专业支付系统服务商。</span>
                    <span class="footer-li-content">提供多场景支付解决方案。</span>
                    <span class="footer-li-content">防止电信诈骗商户接入</span>
                </li>
                <li>
                    <span class="footer-li-title footer-li-content">产品介绍</span>
                    <span class="footer-li-content">网银支付</span>
                    <span class="footer-li-content">微信支付</span>
                    <span class="footer-li-content">支付宝支付</span>
                    <span class="footer-li-content">快捷支付</span>
                    <span class="footer-li-content">跨境支付</span>
                    <span class="footer-li-content">代付业务</span>
                    <!-- FIXME: 隐藏 -->
                  
                </li>
               
                <li>
                    <span class="footer-li-title footer-li-content">联系我们</span>
                    <span class="footer-li-content footer-li-email"><a href="javascript:;">邮箱：<{$siteconfig.email}></a></span>
                    <span class="footer-li-content footer-li-email"><a href="javascript:;">Q Q：<{$siteconfig.qq}></a></span>
                    <span class="footer-li-content footer-li-email"><a href="javascript:;">WeChat：<{$siteconfig.tel}></a></span>
                    <span class="footer-li-content footer-li-tel"><a href="javascript:;">WebSite：<{$siteconfig.domain}></a></span>
                </li>
            </ul>
            <div class="footer-icon col-xs-12 col-md-2 col-sm-6">
                <div class="footer-weixin-box">
                    <img class="footer-icon-img footer-icon-weixin" src="/Public/theme/view10/static/picture/weixin.png" alt="">
                   
                </div>
              <img class="footer-icon-img" src="/Public/theme/view10/static/picture/xinlang.png" alt="">
            </div>
            <div class="footer-tel-box col-xs-12 col-md-3 col-sm-6">
                <div class="footer-tel-title">服务热线</div>
                <span class="footer-tel"><{$siteconfig.tel}></span>
                <span class="footer-tel-time">周一到周日 09:00-18:00</span>
            </div>
            <div class="footer-bottom">
                <p class="icpBox">
                   
                        <img src="/Public/theme/view10/static/picture/beianbgs.png" class="footer-bottom-beianbg">
                        <span><{$siteconfig.icp}></span>
                   
                    &nbsp;|&nbsp;
                    <span>Copyright © 2008 - 2021  <{$sitename}> 版权所有</span>
                    <span>本站暂不支持IPV6</span>
                   <img src="/Public/theme/view10/static/picture/jinghui.png" class="footer-bottom-jinghui" alt="beian" />
                   <img src="/Public/theme/view10/static/picture/safe.png" class="footer-bottom-safe" alt="beian" />
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="/Public/theme/view10/static/js/jquery-3.3.1.min.js"></script>
<script src="/Public/theme/view10/static/js/bootstrap.min.js"></script>
<script src="/Public/theme/view10/static/js/clamp.min.js"></script>
<script src="/Public/theme/view10/static/js/util.js"></script>

<script>
    (function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","https://assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
    ud({
        "code": "1fg07dk0",
        "link": "https://joinpay.udesk.cn/im_client/?web_plugin_id=24348"
    });
</script>
<script>
    $(document).ready(function(){
        // var bannerHtml = "";
        // var indicatorHtml = "";
        var firstListHtml = "";
        var newsListHtml = "";

        // 获取文件域名，存在locaStorage
        $.ajax({
            type: 'GET',
            url: $.apiPath.host + $.apiPath.filePath,
            dataType: 'json',
            crossDomain: true == !(document.all),
            success: function(response) {
                if(response.msg === "success") {
                    localStorage.setItem('fileUrl',JSON.stringify(response.data));
                }
                getBannerMsg();
            },
            error: function(e) {
                getBannerMsg();
                console.error(e);
            }
        });

        function getBannerMsg() {
            // 获取banner图
            // 加载数据
            bannerHtml = `<div class=\"index-banner-item item active\">\n
        <img class=/Public/theme/view10/static/picture/152a0a5852504bd0963af6b67ec3fbb2.gif"index-banner-1 index-banner-img\" src=\"./images/index/banner1.jpg\">\n
        </div>`;

            $(".carousel-inner").empty();
            $(".carousel-inner").append(bannerHtml);

            var bannerNum = 1;
            var bannerNumPerPage = 10;
            var bannerPath = $.apiPath.bannerPath + '?pageNum=' + bannerNum + '&numPerPage=' + bannerNumPerPage ;
            $.getBannerMsg(bannerPath, '.carousel-inner' , function(response) {
                var data = response.data;
                if( data.recordList && data.recordList.length !== 0){
                    bannerHtml = "";
                    indicatorHtml = "";
                    for (var i = 0; i < data.recordList.length; i++) {
                        if (i === 0) {
                            bannerHtml += "<div class=\"index-banner-item item active\">\n" +
                                "<a href=\"" + $.addHttp(data.recordList[i].url) + "\"><img class='index-banner-" + i + " index-banner-img' src=/Public/theme/view10/static/picture/152a0a5852504bd0963af6b67ec3fbb2.gif"" + $.addDomain(data.recordList[i].image) + "\" alt=\"\">\n" +
                                "</a></div>";
                            indicatorHtml += "<li class=\"index\-slide\-li active\" data-target=\"#myCarousel\" data-slide-to=\"" + i + "\" class=\"active\"></li>";
                        } else {
                            bannerHtml += "<div class=\"index-banner-item item\">\n" +
                                "<a href=\"" + $.addHttp(data.recordList[i].url) + "\"><img class='index-banner-" + i + " index-banner-img' src=/Public/theme/view10/static/picture/152a0a5852504bd0963af6b67ec3fbb2.gif"" + $.addDomain(data.recordList[i].image) + "\" alt=\"\">\n" +
                                "</a></div>";
                            indicatorHtml += "<li class=\"index\-slide\-li\" data-target=\"#myCarousel\" data-slide-to=\"" + i + "\"></li>";
                        }
                    }
                }
                $(".carousel-inner").empty();
                $(".carousel-inner").append(bannerHtml);
                $(".carousel-indicators").empty();
                $(".carousel-indicators").append(indicatorHtml);

                //  鼠标浮动循环,节流
                var now = Date.now();
                $(".carousel-indicators li").mouseenter(function() {
                    var thisTime = Date.now();
                    // console.log(thisTime,now);

                    if( thisTime - now > 300){
                        $(this).trigger("click");
                        $('#myCarousel').carousel("pause");
                    }
                    now = thisTime;
                });
                $(".carousel-indicators li").mouseout(function() {
                    $('#myCarousel').carousel("cycle");
                });
                $('#myCarousel').mouseover(function() {
                    $('#myCarousel').carousel("pause");
                });
                $('#myCarousel').mouseout(function() {
                    $('#myCarousel').carousel("cycle");
                });

                $('#myCarousel').carousel({
                    interval: 3000,
                    pause: "hover"
                });
            });
        }

        $('#myCarousel').carousel({
            interval: 5000,
            pause: "hover"
        });
        if($(document).width() <= 750){
            $('.index-banner-img').each(function(index) {
                $(this).attr('src','./images/index/sm-banner'+ (index + 1) + '.png');
            });
        }else if(($(document).width() <= 1200) && $(document).width() > 750) {
            $('.index-banner-img').css('margin-left',Math.floor( ($(document).width() - 1200)/2));
        }else{
            $('.index-banner-img').css('margin-left',Math.floor( ($(document).width() - 2300)/2));
        }
        $(window).resize(function(){
            if($(document).width() <= 750){
                $('.index-banner-img').each(function(index) {
                    $(this).attr('src','./images/index/sm-banner'+ (index + 1) + '.png');
                });
            }else if(($(document).width() <= 1200) && $(document).width() > 750) {
                $('.index-banner-img').css('margin-left',Math.floor( ($(document).width() - 1200)/2));
            }else{
                $('.index-banner-img').css('margin-left',Math.floor( ($(document).width() - 2300)/2));
            }
        });


        // 获取新闻列表
        var indexNewNum = 1;
        var indexNewPerPage = 6;
        var newsPath = $.apiPath.newsPath + '?pageNum=' + indexNewNum + '&numPerPage=' + indexNewPerPage ;
        $.getIndexNews(newsPath, '.index-news-text' , function(response) {
            firstListHtml = "";
            newsListHtml = "";

            if(response.data && response.data.recordList && response.data.recordList.length !== 0){
                var recordList = response.data.recordList;
                var imgUrl = recordList[0].mainPic ? $.addDomain(recordList[0].mainPic) : './images/new/new-default.png';
                $('.index-news-img').attr('src',imgUrl);
                $('.index-img-a').attr('href',$.getProUrl() + "/news/" + recordList[0].id + ".html");

                firstListHtml = "<div class=\"index-new-first\"><a href=\"" + $.getProUrl() + "/news/" + recordList[0].id + ".html\"><span class=\"index-news-title\">" + recordList[0].title + "</span>\n" +
                    "<p class=\"index-news-content\">" + recordList[0].summary + "</p>\n</a></div>";

                for (var i = 1; i < recordList.length; i++) {
                    newsListHtml += "<li class='index-news-item'><a href=\"" + $.getProUrl() + "/news/" + recordList[i].id + ".html\" >" + recordList[i].title + "</a></li>";
                }

                $(".index-news-text").empty();
                $(".index-news-text").append(firstListHtml);
                $(".index-news-list").empty();
                $(".index-news-list").append(newsListHtml);

                if ( recordList.length >= 6) {
                    $(".index-news").append("<span class=\"index-news-more\"><a href=\"./pages/newsCenter.html\">更多 &gt</a></span>");
                }

                $('.index-news-content').each(function () {
                    $clamp(this, {clamp: 3});
                });

            }else{
                $(".index-news").empty();
                $('.index-news-img').attr('src','./images/index/banner1.jpg');
                $('.index-news').append("<span class=\"msg-not-find\">暂无新闻数据</span>");
            }
        });

        $('.banner-icon1').on('click',function (){
            if($('#udesk_container').css('display') == 'none'){
                $('#udesk_container').css('display','block');
            } else {
                $('#udesk_container').css('display','none');
            }
        })
    })
</script>
<script>
    $(document).ready(function() {
        var scrollHeight = $('.index-banner-item').outerHeight() ;
        // 滚动条距离顶部的距离 大于 100px时
        if($(window).scrollTop() > 0) {
            $(".header").css({'background-color': 'rgba(255,255,255,1)','box-shadow': '0px 5px 5px #e3e3e3'})
        } else {
            $(".header").css({'background-color': 'rgba(255,255,255,1)','box-shadow': '0 0 0 #e3e3e3'})
        }
        $(window).scroll(function(){
            // 滚动条距离顶部的距离 大于 100px时
            if($(window).scrollTop() > 0) {
                $(".header").css({'background-color': 'rgba(255,255,255,1)','box-shadow': '0px 5px 5px #e3e3e3'})
            } else {
                $(".header").css({'background-color': 'rgba(255,255,255,1)','box-shadow': '0 0 0 #e3e3e3'})
            }
        });
    })
</script>
<script>
    function backTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    // // WPA start
    //     // 手机端
    //     if (document.documentElement.clientWidth <= 992) {
    //         document.write('<script id="qd2852167516bdec368ba8457b53565d54be74022b13" src="/Public/theme/view10/static/js/6a059fb036974025a9bbe5f8720b5bc5.js" charset="utf-8" async defer><\/script>');
    //     // PC端
    //     } else {
    //         document.write('<script id= "qd2852167516faae91be6bc3774238b01581ab77858e" src = "/Public/theme/view10/static/js/c8c2456e85ae4c70be1479176fd4f623.js" charset = "utf-8" async defer ><\/script>');
    //     }
    // // WPA end
</script>
<script>
    //初始化模态框

$(window).on('load',function(){
    loadNoticeData();
});

function init() {
    if (document.getElementById('panelBody').scrollHeight >  document.getElementById('panelBody').clientHeight) {
        document.getElementById('modal-btn').innerText = '我已阅读并确认';
    } else {
        document.getElementById('modal-btn').innerText =  '3s';
        document.getElementById('modal-tip').style.display = 'none'
        var num = 2
        var count = setInterval(function () {
            document.getElementById('modal-btn').innerText =  num + 's';
        num--
        if (num < 0) {
            document.getElementById('modal-btn').removeAttribute('disabled')
            document.getElementById('modal-btn').innerText = '我已阅读并确认';
            clearInterval(count)
        }

    },1000)
    }
    document.getElementById('panelBody').addEventListener('scroll', function () {
        if((Math.ceil(parseFloat(document.getElementById('panelBody').scrollTop)) + parseInt(document.getElementById('panelBody').clientHeight)) < (parseInt(document.getElementById('panelBody').scrollHeight))) {
//                        _this.scollBottom = true
        }else {
            document.getElementById('modal-tip').style.display = 'none'
            document.getElementById('modal-btn').removeAttribute('disabled')
        }
    })
}

function loadNoticeData(){
    $.ajax({
        type: 'GET',
        url: $.apiPath.host + $.apiPath.getUnclosedNotice,
        dataType: 'json',
        crossDomain: true == !(document.all),
        success: function(response) {
            if(response.msg === 'success' && response.data !== null) {
                    $('#myModal').modal('show');
                    $('#myModal').on('shown.bs.modal', function (e) {
                        init();
                    })
                    document.getElementById('panelBody').innerHTML =  response.data.content;
                    document.getElementById('myModalLabel').innerText =  response.data.title;
                    init();
            }
        },
        error: function(e) {
            console.error(e);
        }
    });
}
</script>
</body>
</html>
